@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #7652eb;
  --secondary-color: #139dff;
  --text-color: #3f4cb3;
  --text-title-color: #201f54;

  --background-color: #f5f5f5;
  --border-color: #e0e0e0;
  --shadow-color: rgba(0, 0, 0, 0.1);

  --dark-grey: #1e1f52;
  --dark-grey-1: #231e47;
  --dark-grey-2: #201e29;

  --progress-bar-color: #3d88f8;
  --caret-color: #508ff6;

  --light-blue-1: rgba(91, 187, 255, 0.973);
  --light-blue-2: rgba(236, 248, 255, 0.33);
  --light-blue-3: rgba(91, 187, 255, 0.223);

  --light-red-1: rgba(255, 107, 107, 0.36);
  --light-red-2: rgb(254, 235, 235);

  --light-grey: #fafafc;
  --light-grey-0: #f1f1f1;
  --light-grey-1: #f9f9f9;
  --light-grey-2: #f5f5f5;
  --light-grey-3: #e0e0e0;
  --light-grey-4: #c4c4c6;
  --light-grey-5: #a1a0a3;
  --light-grey-6: #666;
}

body {
  margin: 0;
  font-family: "Satoshi", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
