.btn {
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 15px;
  color: var(--text-color);
  display: block;
  font-weight: 600;
}

.btn:active {
  transform: scale(0.98);
  filter: contrast(2);
}

.btn.gradient-bg {
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  color: white;
  position: relative;
  padding: 14px 35px;
  border: none;
}

.btn.back {
  background: none;
  color: var(--dark-grey-2);
  padding-left: 0;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.btn.back svg {
  width: 15px;
  height: 15px;
}

.btn.back svg path {
  stroke-width: 3;
  stroke: var(--dark-grey-2);
}

.btn.back:hover {
  background: var(--light-grey-2);
}

.btn.gradient-border {
  font-weight: 500;
  border: 2px solid transparent;
  /* Gradient border setup */
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, var(--primary-color), var(--secondary-color)) border-box;
  background-clip: padding-box, border-box;

  /* clips 1st linear gradient background origin to border-box and 2nd linear gradient background origin to padding-box i.e, context + padding area (order of placement is important) 
      */

  background-size: 300% 100%;
  animation: shimmer 2s linear infinite;
}

@keyframes borderFlow {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* background-size: 400% 100%;
animation: colorCycle 5s linear infinite;
@keyframes colorCycle {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */
