/* progress bar */
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;

  .progress-bar-fill {
    height: 100%;
    background: var(--progress-bar-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
